<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floral Shops App</title>
  </head>
  <body>
    <h1>LITTLE SHOP of FLOWERS</h1>
    <p>Let your floral app be a garden of possibilities, where every click cultivates a moment of joy
    </p>
    <a href="/shops">Browse Shops</a>
  </body>
</html>
