

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Floral Shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Step into a floral paradise</h1>
    <form action="/shops" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    
        <label for="offersDelivery">Offers Delivery?</label>
        <input type="checkbox" name="offersDelivery" id="offersDelivery" />
    
        <button type="submit">Add Floral Shop</button>
      </form>
    <a href="/shops/">Back to Shops</a>
  </body>
</html>
